html{
    height: 100%;

    font-size: 16px;
    font-family: 'Candara', 'Candara';
}

body{
    height: 100%;
    background: linear-gradient(180deg, rgba(20, 0, 0), rgb(100, 0, 0), rgba(200, 0, 0));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
    overflow: hidden;

    transition: 1s;
}

#blur{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    
    backdrop-filter: blur(4px);
    z-index: 0;
}

#msg_hover{
    position: absolute;

    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 8px 12px;
    color: black;

    transition: 0.8s;
    z-index: 5;
}

#box_volume_bar{
    position: absolute;

    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 4px 12px;

    transition: 0.8s;
    z-index: 5;
}

#mp3_general_box{
    position: relative;
    width: 90%;
    height: auto;
    top: 3%;
    left: 3%;
    padding: 2%;
    padding-bottom: 0%;
    margin-bottom: 0.5%;
    overflow: hidden;

    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 10px;

    transition: 1s;
}

#mp3_flexbox{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
}

#mp3_box_image{
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    flex-grow: 1;
}

#mp3_image{
    width: auto;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

    animation: none;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#mp3_box_text{
    height: 100%;
    width: 50%;
    text-align: center;

    flex-grow: 2;
}

#mp3_name{
    width: 100%;
    height: 55%;

    font-size: 26px;
    font-weight: bold;
    overflow-y: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#mp3_artist{
    width: 100%;
    height: 45%;
    overflow-y: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

#name, #artist{
    padding: 0px 2%;
}

#mp3_box_line{
    width: 100%;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    gap: 0px 5%;
}

#box_progress_bar{
    width: 60%;
    padding: 2% 0%;
}

#progress_bar{
    width: 100%;
}

#box_controls{
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_hitbox{
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    width: auto;
    height: 60%;
    max-width: 20%;

    padding: 1%;
    margin: 0% 1%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#icon_volume, #icon_loop{
    width: 50%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}

#icon_back, #icon_front{
    width: 60%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}

#icon_play{
    width: 70%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}

#box_list{
    position: relative;
    top: 4%;
    left: 3%;
    width: 94%;
    height: 29.5%;
    border-radius: 10px 10px 0px 0px;
    overflow-y: scroll;
}

.box_music{
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 10px;
    margin-bottom: 2%;
    padding: 2% 0%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box_list_img{
    width: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.list_img{
    width: 100%;
    border-radius: 5px;
}

.box_list_info{
    width: 60%;
}

.list_name{
    font-size: 18px;
    height: 18px;
    padding-bottom: 5px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.list_artist{
    height: 18px;
    padding-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
}

.list_duration{
    width: 10%;
}

@media screen and (max-width: 500px) {
    #mp3_general_box{
        height: 65%;
    }

    #mp3_flexbox{
        height: 70%;

        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
    
    #mp3_box_image{
        order: 2;
        height: 60%;

        flex-shrink: 1;
        flex-grow: 0;
    }
   
    #mp3_box_text{
        order: 1;
        height: 40%;
        width: 100%;
    
        flex-grow: 0;
        margin-bottom: 4%;
    }
    
    #mp3_name{
        height: 60%;
        font-size: 20px;
    }
    
    #mp3_artist{
        height: 40%;
    }
}

@media screen and (min-width: 501px) and (max-width: 1024px){
    html{
        font-size: 18px;
    }
    
    #mp3_general_box{
        height: 50%;
        margin-bottom: 0.25%;
        border-radius: 10px;
    }
    
    #mp3_flexbox{
        height: 48%;
    }
    
    #mp3_box_text{
        width: 50%;
    }
    
    #mp3_name{
        height: 60%;
        font-size: 26px;
    }
    
    #mp3_artist{
        height: 40%;
    }
    
    #box_progress_bar{
        width: 75%;
        padding: 3% 0%;
    }
    
    #box_controls{
        height: 25%;
    }
    
    .icon_hitbox{
        height: 60%;
        padding: 1.4%;
        margin: 0% 2%;
    }
    
    #icon_play{
        width: 75%;
    }
    
    #box_list{
        height: 42.5%;
        border-radius: 10px 10px 0px 0px;
    }
    
    .box_music{
        background-color: rgba(255, 255, 255, 0.65);
        border-radius: 10px;
        margin-bottom: 1%;
        padding: 1% 0%;
    
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .box_list_img{
        width: 10%;
    }
    
    .list_img{
        border-radius: 5px;
    }
    
    .box_list_info{
        width: 75%;
    }
    
    .list_name{
        font-size: 22px;
        height: 22px;
        padding-bottom: 10px;
    }
    
    .list_artist{
        height: 18px;
        padding-bottom: 5px;
    }
}

@media screen and (min-width: 1025px){
    html{
        font-size: 20px;
    }
    
    #mp3_general_box{
        height: 60%;
        margin-bottom: 0.1%;
        border-radius: 15px;
    }
    
    #mp3_flexbox{
        height: 40%;
    }
    
    #mp3_box_text{
        width: 50%;
    }
    
    #mp3_name{
        height: 69%;
        font-size: 34px;
    }
    
    #mp3_artist{
        height: 29%;
    }
    
    #box_progress_bar{
        width: 80%;
        padding: 3% 0%;
    }
    
    #box_controls{
        height: 25%;
    }
    
    .icon_hitbox{
        height: 60%;
        padding: 1.4%;
        margin: 0% 2%;
    }
    
    #icon_play{
        width: 75%;
    }
    
    #box_list{
        height: 31.5%;
        border-radius: 15px 15px 0px 0px;
    }
    
    .box_music{
        background-color: rgba(255, 255, 255, 0.65);
        border-radius: 15px;
        margin-bottom: 0.5%;
        padding: 1% 0%;
    }
    
    .box_list_img{
        width: 5%;
    }
    
    .list_img{
        border-radius: 10px;
    }
    
    .box_list_info{
        width: 80%;
    }
    
    .list_name{
        font-size: 26px;
        height: 26px;
        padding-bottom: 10px;
    }
    
    .list_artist{
        height: 20px;
        padding-bottom: 10px;
    }
}